@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Zen+Kaku+Gothic+New:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.caption {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: 0.85em;
    line-height: 1.5;
    margin-bottom: 6px;
}

.imgisiberita {
    width: 100%;
    object-fit: contain;
}

.isiberita {
    max-width: 800px;
}